<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main - StayEz</title>
    <%- include('partials/default-head') %>
    <link href="../css/admin.css" rel="stylesheet">
</head>

<body>
    <%- include('partials/admin-navbar') %>
    <div class="slider-container">
        <div class="slider">
            <div class="slide"><img src="/img/0condo.jpg" alt="Image 1"></div>
            <div class="slide"><img src="/img/1condo.webp" alt="Image 2"></div>
            <div class="slide"><img src="/img/2condo.jpg" alt="Image 3"></div>
            <div class="slide"><img src="/img/3condo.jpg" alt="Image 4"></div>
            <div class="slide"><img src="/img/4condo.jpg" alt="Image 5"></div>
            <div class="slide"><img src="/img/5condo.jpg" alt="Image 6"></div>
        </div>
        <button class="prev" onclick="prevSlide()">&#10094;</button>
        <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>
    <div class="page-select">
        <a href="/admin/manage_user">ระบบจัดการ User</a>
        <a href="/admin/manage_room">ระบบจัดการที่พัก</a>
        <a href="/admin/manage_booking">ระบบจัดการจอง</a>
        <a href="/admin/manage_rent">ระบบคำนวณ</a>
    </div>
    <div class="summary">
        <p>สรุปรายได้-รายจ่ายที่พัก</p>
        <div class="total">
            <div class="total-header">
                <!-- <div class="total-section">
                    <p>รายได้ทั้งหมด : </p>
                    <p class="total-text"></p>
                </div> -->
                <div class="total-section">
                    <p>รายจ่ายทั้งหมด : </p>
                    <p class="total-text">
                        <%= data.reduce((sum, item)=> sum + (item.total_amount || 0), 0) %>
                    </p>
                </div>
            </div>
            <canvas id="total-chart" style="width:100%;max-width: 75%;justify-self: center;"></canvas>
            <div class="total-footer">
                <a href="/admin/monthly"><button>รายได้แต่ละเดือน</button></a>
                <div class="sum-section">
                    <p>สรุป : </p>
                    <p class="sum-text"></p>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/admin-footer') %>
    <script>
        const data = <%- JSON.stringify(data) %>;
        console.log(data)
        const values = [];
        for (let i = 0; i < 12; i++) {
            values.push(data.length > i && data[i].total_amount !== undefined ? data[i].total_amount : 0);
        }
        new Chart("total-chart", {
            type: "line",
            data: {
                labels: values,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: values
                }]
            },
            options: {
                legend: { display: false },
                scales: {
                    yAxes: [{ ticks: { min: 0, max: 50000 } }],
                }
            }
        });

        // sliderpic
        let index = 0;
        const slides = document.querySelectorAll('.slide');

        function showSlide(i) {
            if (i >= slides.length) index = 0;
            if (i < 0) index = slides.length - 1;
            document.querySelector('.slider').style.transform = `translateX(${-index * 100}%)`;
        }

        function nextSlide() {
            index++;
            showSlide(index);
        }

        function prevSlide() {
            index--;
            showSlide(index);
        }

        showSlide(0); // ให้แสดงรูปแรกเมื่อโหลดหน้าเว็บ
        setInterval(nextSlide, 5000); // Auto slide every 3 seconds

    </script>
</body>

</html>