<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>description</title>
    <link rel="stylesheet" href="../../css/description.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Concert+One&family=DM+Serif+Text:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hind+Mysuru:wght@300;400;500;600;700&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Marcellus&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Caption:wght@400;700&family=Signika+Negative:wght@300..700&family=Silkscreen:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- heart -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=favorite" />

</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="../../img/logo.jpeg" alt="" class="pic">
            <div class="stayEz">StayEz</div>
        </div>
        <div class="menu-toggle" id="menuToggle">☰</div>
        <ul class="nav-links" id="navLinks">
            <li><a href="/user/main">Home</a></li>
            <li><a href="/user/history">History</a></li>
            <li><a href="#">Payment</a></li>
            <li><a href="#footer">Contact</a></li>
            <li><a href="#" class="hidden">Wish list</a></li>
            <li><a href="#" class="hidden" onclick="openPopup()">Profile</a></li>
            <li><a href="/user/fav"><img src="../../img/heart.png" alt="" class="pic2"></a></li>
            <li><a href="#" onclick="openPopup()"><img src="../../img/user.png" alt="" class="pic3"></a></li>
        </ul>
    </nav>

    <section class="all">
        <div class="text-map">
            <p class="text">Asok resident</p>
            <a href="" class="map">
                <img src="../../img/map.png" alt="">
                <p>Map</p>
            </a>
        </div>
        <div class="allpic">
            <div class="p1">
                <img src="../../img/condo.jpg" alt="">
            </div>
            <div class="p2">
                <img src="../../img/condo2.jpg" alt="">
                <img src="../../img/condo3.webp" alt="">
            </div>
        </div>
        <form action="/user/addFav/<%= room.room_id %>" method="POST" id="favoriteForm">
            <a class="heart" onclick="document.getElementById('favoriteForm').submit();">
                <span class="material-symbols-outlined">favorite</span>
            </a>
        </form>
        <p class="text2">ลายละเอียดที่พัก</p>
        <div class="alldata">
            <div class="data">
                <div class="text-data2">
                    <div class="room">
                        <p>ห้อง:</p>
                        <p>111</p>
                    </div>
                    <p class="p">
                        7 ชั้น มีทั้งหมด 70 ห้อง
                        ตั้งอยู่ในซอยวิภาวดี 38 เดินทางได้อย่างสะดวกสบาย ไปยังสถานที่ใกล้เคียง อาทิเช่น SCBสำนักงานใหญ่,
                        เมเจอร์รัชโยธิน, ม.เกษตรฯ, เซ็นทรัล-ลาดพร้าว มี7/11ขนาดใหญ่(150ม.)
                        และชุมชนร้านค้าร้านอาหารตามสั่ง ร้านข้าวแกง ร้านคาเฟ่น่ารักๆ ร้านขายยา
                        อยู่บริเวณใกล้เคียงกันจำนวนมาก ชั้นล่างอาคารยังเป็นศูนย์ตัวแทนขนส่ง Flash express
                    </p>
                </div>
            </div>
            <div class="allhave">
                <div class="have">
                    <div class="datahave">
                        <img src="../../img/dog.png" alt="">
                        <p>Pet Friendly</p>
                    </div>
                    <div class="datahave">
                        <img src="../../img/dog.png" alt="">
                        <p>Pet Friendly</p>
                    </div>
                    <div class="datahave">
                        <img src="../../img/dog.png" alt="">
                        <p>ตู้เย็น</p>
                    </div>
                    <div class="datahave">
                        <img src="../../img/dog.png" alt="">
                        <p>Pet Friendly</p>
                    </div>
                    <div class="datahave">
                        <img src="../../img/dog.png" alt="">
                        <p>Pet Friendly</p>
                    </div>
                </div>
                <div class="have">
                    <div class="datahave">
                        <img src="../../img/dog.png" alt="">
                        <p>Pet Friendly</p>
                    </div>
                    <div class="datahave">
                        <img src="../../img/dog.png" alt="">
                        <p>Pet Friendly</p>
                    </div>
                    <div class="datahave">
                        <img src="../../img/dog.png" alt="">
                        <p>ตู้เย็น</p>
                    </div>
                    <div class="datahave">
                        <img src="../../img/dog.png" alt="">
                        <p>Pet Friendly</p>
                    </div>
                    <div class="datahave">
                        <img src="../../img/dog.png" alt="">
                        <p>Pet Friendly</p>
                    </div>

                </div>

            </div>

        </div>
        <p class="rate">รีวิว 4.99 ★</p>
        <div class="alldata2">
            <div class="review">
                <div class="name1">
                    <p>mann</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum itaque accusantium neque modi!
                        Totam ipsum saepe, suscipit magni quasi minus!</p>
                </div>
                <div class="name">
                    <p>mann</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum itaque accusantium neque modi!
                        Totam ipsum saepe, suscipit magni quasi
                        minustuyftyftyftyftyftyfgtyftyftyfyutyutguytuytuytuytuytuytyutuyt6ytytytytyytf</p>
                </div>
                <div class="name">
                    <p>mann</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum itaque accusantium neque modi!
                        Totam ipsum saepe, suscipit magni quasi minus!</p>
                </div>
                <div class="name">
                    <p>mann</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum itaque accusantium neque modi!
                        Totam ipsum saepe, suscipit magni quasi minus!</p>
                </div>
                <div class="name">
                    <p>mann</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum itaque accusantium neque modi!
                        Totam ipsum saepe, suscipit magni quasi minus!</p>
                </div>
            </div>
            <div class="price">
                <div class="flex-data">
                    <p class="text-data">ราคา:</p>
                    <p class="text-data"><%= room.price %> บาท/เดือน</p>
                </div>
                <div class="flex-data">
                    <p class="text-data">ค่าไฟ:</p>
                    <p class="text-data"><%= room.p_electric %> บาท/หน่วย</p>
                </div>
                <div class="flex-data">
                    <p class="text-data">ค่าน้ำ:</p>
                    <p class="text-data"><%= room.p_water %> บาท/หน่วย</p>
                </div>
                <div class="flex-data">
                    <p class="text-data">เงินประกัน:</p>
                    <p class="text-data"><%= room.deposit %> บาท</p>
                </div>
                <div class="flex-data">
                    <p class="text-data">จ่ายเงินล่วงหน้า:</p>
                    <p class="text-data"><%= room.pay_advance %> บาท</p>
                </div>
                <a href="/user/contact/<%= room.room_id %>"><button>จอง</button></a>
            </div>

        </div>
    </section>

    <div class="overlay" id="overlay" onclick="closePopup()"></div>
    <section>
        <div class="popup" id="popup">
            <div class="profile">
                <div class="close-btn">
                    <button onclick="closePopup()">
                        <img src="../../img/close.png" alt="">
                    </button>
                </div>
                <p>Profile</p>
                <div class="allpopupdata">
                    <div class="popupdata">
                        <label for="name">Name:</label>
                        <input type="text" value="<%= user.first_name %>" disabled>
                    </div>
                    <div class="popupdata">
                        <label for="lastname">Lastname:</label>
                        <input type="text" value="<%= user.last_name %>" disabled>
                    </div>
                    <div class="popupdata">
                        <label for="tel">Tel:</label>
                        <input type="text" value="<%= user.tel %>" disabled>
                    </div>
                    <div class="popupdata">
                        <label for="email">Email:</label>
                        <input type="text" value="<%= user.email %>" disabled>
                    </div>
                    <div class="log-out">
                        <br>

                        <a href="/logout"><button><img src="../../img/log-out.png" alt=""></button></a>
                    </div>
                </div>

            </div>
        </div>

    </section>








    <footer id="footer">
        <div class="footer">
            <div class="footer-content">
                <p>Line: @place1234</p>
                <p>Tel: 000000000</p>
                <p>Email: place@1234.com</p>
            </div>
    </footer>
</body>









<script>
    // menu
    document.getElementById("menuToggle").addEventListener("click", function () {
        document.getElementById("navLinks").classList.toggle("active");
    });

    document.querySelectorAll(".dropdown-toggle").forEach(item => {
        item.addEventListener("click", function () {
            let dropdownMenu = this.nextElementSibling;
            dropdownMenu.classList.toggle("show");
        });
    });

    document.addEventListener("click", function (event) {
        if (!event.target.closest(".navbar")) {
            document.getElementById("navLinks").classList.remove("active");
            document.querySelectorAll(".dropdown-menu").forEach(menu => menu.classList.remove("show"));
        }
    });

    // when click change color heart to red
    document.addEventListener("DOMContentLoaded", function () {
        const heart = document.querySelector(".heart");

        heart.addEventListener("click", function (event) {
            event.preventDefault();
            this.classList.toggle("active");
        });
    });

    // popup
    let popup = document.getElementById("popup");

    function openPopup() {
        popup.classList.add("openPopup");
        document.getElementById("overlay").classList.add("active");


    }

    function closePopup() {
        popup.classList.remove("openPopup");
        document.getElementById("overlay").classList.remove("active");

    }
</script>

</html>