<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History - StayEz</title>
    <%- include('partials/default-head') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="../css/history.css">
</head>

<body>
    <%- include('partials/user-navbar') %>
    <section>
        <div class="box">
            <p class="text">History</p>
        </div>
        <section class="history">
            <% history.forEach((item, index) => { %>
                <div class="all">
                    <div class="card">
                        <a href="/user/room-details/<%= item.room_id %>" class="card-link">
                            <p class="badge"><%= item.department_name %></p>
                            <img src="/room_img/<%= history[index].room_img_id %>" alt="Room Image" class="card-img">
                            <p class="card-title">รีวิว 4.9</p>
                            <p class="card-title"><%= item.price %> บาท/เดือน</p>
                            <p class="card-title"><%= item.bedroom %> ห้องนอน</p>
                            <div class="service">
                                <img src="../img/dog.png" alt="" class="pic4">
                                <img src="../img/gym.png" alt="" class="pic4">
                                <img src="../img/wifi.png" alt="" class="pic4">
                            </div>
                        </a>
                    </div>
                    <div class="alldata">
                        <div class="data">
                            <p class="card-title2"><%= item.history_date %></p>
                        </div>
                        <div class="data5">
                            <p class="card-title2">สถานะ: </p>
                            
                            <% let status = "สำเร็จ"; %>
                            <% if (item.history_status == "verification") { %>
                                <% status = "กำลังรอตรวจสอบ"; %>
                            <% } %>
                            <p class="card-title2"><%= status %></p>
                        </div>
                        <div class="data">
                            <p class="card-title2">รายละเอียดการเข้าพัก</p>
                        </div>
                        <div class="data5">
                            <p class="card-title2">หมายเลขห้อง: </p>
                            <p class="card-title2"><%= item.room_name %></p>
                        </div>
                        <div class="data5">
                            <p class="card-title2">สัญญาเช่าอยู่: </p>
                            <p class="card-title2"><%= item.tenancy %></p>
                        </div>
                        <div class="data5">
                            <p class="card-title2">จำนวนผู้เข้าพัก: </p>
                            <p class="card-title2"><%= item.people %> คน</p>
                        </div>
                        <div class="data5">
                            <p class="card-title2">วันที่เริ่มทำสัญญา: </p>
                            <p class="card-title2"><%= item.history_date %></p>
                        </div>
                        <div class="data3">
                            <a href="/user/showcontract/<%= item.contract_id %>" class="book">หนังสือสัญญา</a>
                            <button class="cancel" onclick="openPopup2(<%= item.history_id %>, <%= item.room_id %>)">ยกเลิกสัญญา</button>
                            <a href="#" class="review" onclick="openPopup3('<%= item.room_id %>')">Review</a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </section>
        <!-- popup cancel -->
        <div class="overlay2" id="overlay2" onclick="closePopup2()"></div>
        <section>
            <div class="pop-upcancel" id="pop-upcancel">
                <div class="close-btn">
                    <button onclick="closePopup2()">
                        <img src="../img/close.png" alt="">
                    </button>
                </div>
                <div class="ok">
                    <form id="cancel_history" method="post">
                        <p>ยืนยันการยกเลิก</p>
                        <button onclick="closePopup2()" class="but" type="submit">ยืนยัน</button>
                    </form>
                </div>
            </div>
            <div class="overlay" id="overlay" onclick="closePopup3()"></div>
            <section>
                <div class="popup-review" id="popup-review">
                    <div class="close-btn">
                        <button onclick="closePopup3()">
                            <img src="../img/close.png" alt="">
                        </button>
                    </div>
                    <p>Review</p>
                    <div class="allreviewdata">
                        <div class="reviewdata">
                            <label for="rate">Rate:</label>
                            <select id="rate">
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                        <div class="reviewdata">
                            <label for="review">Review:</label>
                            <textarea id="review" rows="4" cols="30"></textarea>
                        </div>
                        <button onclick="submitReview()" class="submit">Submit</button>
                    </div>
                </div>
            </section>
    <%- include('partials/footer') %>
            <input type="hidden" id="userId" value="<%= user.user_id %>">
            <input type="hidden" id="roomId" value="">
            <script>
                async function submitReview() {
                    const userId = document.getElementById("userId").value;
                    const roomId = document.getElementById("roomId").value;

                    const rate = document.getElementById("rate").value;
                    const review = document.getElementById("review").value;

                    if (!rate || !review.trim()) {
                        alert("Please provide a rating and a review.");
                        return;
                    }

                    window.location.href = `/user/history`;

                    fetch(`/user/review/${userId}/${roomId}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            rate: rate,
                            review: review,
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log("Success:", data);
                        closePopup3();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
                }
                // cancel
                function openPopup2(history_id, room_id) {
                    document.getElementById("pop-upcancel").classList.add("active");
                    document.getElementById("overlay2").classList.add("active");
                    document.getElementById("cancel_history").action = `/user/cancel_history/${history_id}/${room_id}`
                }

                document.getElementById("cancel_history").addEventListener("submit", function(event) {
                    event.preventDefault();
                    const formAction = document.getElementById("cancel_history").action;

                    fetch(formAction, {
                        method: "POST",
                    })
                    .then(response => response.json())
                    .then(data => {
                        Swal.fire({
                            title: "ยกเลิกสำเร็จ!",
                            text: "การจองห้องพักของคุณถูกยกเลิกาสำเร็จแล้ว",
                            icon: "success",
                            confirmButtonText: "ตกลง"
                        }).then(() => {
                            closePopup2();
                            window.location.reload();
                        });
                    })
                    .catch(error => {
                        console.log("Error:", error);
                        Swal.fire("Error", "Something went wrong. Please try again.", "error");
                    });
                });

                function closePopup2() {
                    document.getElementById("pop-upcancel").classList.remove("active");
                    document.getElementById("overlay2").classList.remove("active");
                }
                // popup review
                function openPopup3(roomId) {
                    document.getElementById("popup-review").classList.add("active");
                    document.getElementById("overlay").classList.add("active");

                    document.getElementById("roomId").value = roomId;
                }

                function closePopup3() {
                    document.getElementById("popup-review").classList.remove("active");
                    document.getElementById("overlay").classList.remove("active");
                }
            </script>
</body>

</html>