<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Room - StayEz</title>
    <%- include('partials/default-head') %>
    <link rel="stylesheet" href="../css/manage-room.css">
</head>

<body>
    <%- include('partials/admin-navbar') %>
    <div class="container">
        <div class="container-header">
            <p>ระบบจัดการที่พัก</p>
            <a href="/admin/create_room"><button class="add-btn" type="button">+</button></a>
        </div>
        <% current=null %>
            <% data.forEach((item, index)=> { %>
                <% if (current !=item.department_id) { current=item.department_id %>
                    <div class="room-content">
                        <p class="building-name">
                            <%= item.department_name %>
                        </p>
                        <div class="room">
                            <% } %>
                                <a href="/admin/edit_room/<%= item.room_id %>">
                                    <div class="card <%= item.user_id ? 'reserve' : 'empty' %>">
                                        <img src="/room_img/<%= item.images_id[0] %>" style="width: 300px; height: 200px;">
                                        <p>ห้อง : <%= item.room_name %>
                                        </p>
                                        <% if (item.user_id) { %>
                                            <p>ชื่อผู้เช่า : <%= item.first_name %>
                                                    <%= item.last_name %>
                                            </p>
                                            <% } else { %>
                                                <p>ไม่มีผู้พักอาศัย</p>
                                                <% } %>
                                                    <p>ราคา : <%= item.price %>
                                                    </p>
                                    </div>
                                </a>
                                <% if (index==data.length - 1 || current !=data[index + 1].department_id) { %>
                        </div>
                    </div>
                    <% } %>
                        <% }) %>
    </div>
    <%- include('partials/admin-footer') %>
</body>

</html>