<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident -StayEz</title>
    <%- include('partials/default-head') %>
    <link rel="stylesheet" href="../css/see-all-resident-regis.css">
</head>
<body>
    <%- include('partials/guest-navbar') %>
    <div class="box">
        <p class="text"><%= dept[0].department_name %></p>
    </div>
    <div class="card">
        <% dept.forEach((data) => { %>
            <% room.forEach((room) => { %>
                <% if (data.department_id == room.department_id) { %>
                    <a href="/user/room-details/<%=room.room_id %>" class="card-link">
                        <p class="badge"><%= data.department_name %> : <%= room.room_name %></p>
                        <% const roomImage = img.find(image => image.room_id === room.room_id); %>
                        <img src="/room_img/<%= roomImage ? roomImage.room_img_id : 'default.jpg' %>" alt="Room Image" class="card-img">
                        <% let avgRating = review[room.room_id] ? review[room.room_id].avgRating : 0; %>
                        <p class="card-title">รีวิว <%= avgRating %></p>
                        <p class="card-title"><%= room.price %> บาท/เดือน</p>
                        <p class="card-title"><%= room.bedroom %> ห้องนอน</p>
                        <div class="service">
                            <% if (room.air_conditioner) { %>
                                <img src="/img/air-conditioner.png" alt="Air" class="pic4">
                            <% } %>
                            <% if (room.wi_fi) { %>
                                <img src="/img/wifi.png" alt="Wi-Fi" class="pic4">
                            <% } %>
                            <% if (room.TV) { %>
                                <img src="/img/television.png" alt="TV" class="pic4">
                            <% } %>
                            <% if (room.washing_machine) { %>
                                <img src="/img/washing-machine.png" alt="Washing Machine" class="pic4">
                            <% } %>
                            <% if (room.fitnaess) { %>
                                <img src="/img/gym.png" alt="Fitness" class="pic4">
                            <% } %>
                            <% if (room.furniture) { %>
                                <img src="/img/home-furniture.png" alt="Furniture" class="pic4">
                            <% } %>
                            <% if (room.pet_friendly) { %>
                                <img src="/img/dog.png" alt="Pet Friendly" class="pic4">
                            <% } %>
                            <% if (room.fridge) { %>
                                <img src="/img/fridge.png" alt="Fridge" class="pic4">
                            <% } %>
                            <% if (room.closed_camera) { %>
                                <img src="/img/security-camera.png" alt="Closed Camera" class="pic4">
                            <% } %>
                            <% if (room.lift) { %>
                                <img src="/img/elevator.png" alt="Lift" class="pic4">
                            <% } %>
                            <% if (room.microwave) { %>
                                <img src="/img/microwave.png" alt="Microwave" class="pic4">
                            <% } %>
                            <% if (room.parking) { %>
                                <img src="/img/car.png" alt="Parking" class="pic4">
                            <% } %>
                        </div>
                    </a>
                <% } %>
            <% }) %>
        <% }) %>

    </div>
    <%- include('partials/footer') %>
</footer>
</body>
</html>