<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly - StayEz</title>
    <%- include('partials/default-head') %>
    <link href="../css/select-month.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <%- include('partials/admin-navbar') %>
    <div class="container">
        <p class="title">รายรับ-รายจ่ายแต่ละเดือน</p>
        <p class="year">2025</p>
        <div class="month">
            <button class="month-detail" onclick="openPopup(0)">มกราคม</button>
            <button class="month-detail" onclick="openPopup(1)">กุมภาพันธ์</button>
            <button class="month-detail" onclick="openPopup(2)">มีนาคม</button>
            <button class="month-detail" onclick="openPopup(3)">เมษายน</button>
            <button class="month-detail" onclick="openPopup(4)">พฤษภาคม</button>
            <button class="month-detail" onclick="openPopup(5)">มิถุนายน</button>
            <button class="month-detail" onclick="openPopup(6)">กรกฎาคม</button>
            <button class="month-detail" onclick="openPopup(7)">สิงหาคม</button>
            <button class="month-detail" onclick="openPopup(8)">กันยายน</button>
            <button class="month-detail" onclick="openPopup(9)">ตุลาคม</button>
            <button class="month-detail" onclick="openPopup(10)">พฤศจิกายน</button>
            <button class="month-detail" onclick="openPopup(11)">ธันวาคม</button>
        </div>
    </div>
    <%- include('partials/admin-footer') %>
    <!-- Popups for each month -->
    <div class="popup-container" id="popup-container">
        <div class="popup" id="popup">
            <div class="popup-header">
                <svg class="icon-popup" id="icon" onclick="closePopup()" xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                </svg>
            </div>
            <div class="popup-content">
                <p class="content-head" id="month_show_in"></p>
                <div class="content-item">
                    <p>ค่าเช่า : </p>
                    <input type="text" name="rent" id="rent" readonly>
                    <p> บาท</p>
                </div>
                <div class="content-item">
                    <p>ค่าน้ำ : </p>
                    <input type="text" name="water_in" id="water_in" readonly>
                    <p> บาท</p>
                </div>
                <div class="content-item">
                    <p>ค่าไฟ : </p>
                    <input type="text" name="electricity_in" id="electric_in" readonly>
                    <p> บาท</p>
                </div>
                <div class="content-item">
                    <p>ค่าใช้จ่ายอื่นๆ : </p>
                    <input type="text" name="other_in" id="other_in" readonly>
                    <p> บาท</p>
                </div>
                <p class="content-head" id="month_show_bill"></p>
                <div class="content-item">
                    <p>ค่าน้ำ : </p>
                    <input type="text" name="water" id="water">
                    <p> บาท</p>
                </div>
                <div class="content-item">
                    <p>ค่าไฟ : </p>
                    <input type="text" name="electricity" id="electric">
                    <p> บาท</p>
                </div>
                <div class="content-item">
                    <p>ค่าใช้จ่ายอื่นๆ : </p>
                    <input type="text" name="other" id="other">
                    <p> บาท</p>
                </div>
                <button onclick="submitForm()" id="submitForm">Submit</button>
            </div>
        </div>
    </div>

    <script>
        const months = [
            "มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน",
            "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"
        ];
        const monthly = <%- JSON.stringify(monthly) %>;
        const datamonth = <%- JSON.stringify(datamonth) %>;
              // Show the correct popup and hide others
        function openPopup(index) {
            let popupContainer = document.getElementById(`popup-container`);
            popupContainer.style.display = 'block';
            document.getElementById("month_show_bill").innerText = `รายจ่าย : ${months[index]} 2025`;
            document.getElementById("month_show_in").innerText = `รายรับ : ${months[index]} 2025`;
            let water = document.getElementById("water");
            let electric = document.getElementById("electric");
            let other = document.getElementById("other");
            let water_in = document.getElementById("water_in");
            let rent = document.getElementById("rent");
            let electric_in = document.getElementById("electric_in");
            let other_in = document.getElementById("other_in");
            if (datamonth[index]) {
                rent.value = datamonth[index].total_rent;
                water_in.value = datamonth[index].total_water;
                electric_in.value = datamonth[index].total_electric;
                other_in.value = datamonth[index].total_other_sum;
            }
            if (monthly[index]) {
                water.value = monthly[index].water_bill;
                water.readOnly = "readOnly";

                electric.value = monthly[index].electric_bill;
                electric.readOnly = "readOnly";

                other.value = monthly[index].other_bill;
                other.readOnly = "readOnly";
                document.getElementById("submitForm").style.display = "none";
            } else {
                water.value = "";
                water.readOnly = "";

                electric.value = "";
                electric.readOnly = "";

                other.value = "";
                other.readOnly = "";
                document.getElementById("submitForm").onclick = () => submitForm(index);
            }
        }

        // Close the specific popup
        function closePopup() {
            let popupContainer = document.getElementById(`popup-container`);
            popupContainer.style.display = 'none';
            let water = document.getElementById("water");
            let electric = document.getElementById("electric");
            let other = document.getElementById("other");
            let water_in = document.getElementById("water_in");
            let rent = document.getElementById("rent");
            let electric_in = document.getElementById("electric_in");
            let other_in = document.getElementById("other_in");

            rent.value = "";

            water.value = "";
            water_in.value = "";
            water.readOnly = "";

            electric.value = "";
            electric_in.value = "";
            electric.readOnly = "";

            other.value = "";
            other_in.value = "";
            other.readOnly = "";
            document.getElementById("submitForm").style.display = "block";

        }

        // Submit form for the specific month
        function submitForm(monthIndex) {
            const month = monthIndex + 1;

            const textMonth = month < 10 ? '0' + month : month.toString();
            const year = new Date().getFullYear();
            const month_tody = new Date().getMonth()+1;

            const waterInput = document.getElementById("water").value;
            const electricityInput = document.getElementById("electric").value;
            const otherInput = document.getElementById("other").value;
            const water_in = document.getElementById("water_in").value;
            const rent = document.getElementById("rent").value;
            const electric_in = document.getElementById("electric_in").value;
            const other_in = document.getElementById("other_in").value;
            console.log(month_tody,month)
            if (month_tody >= month){
                if (waterInput || electricityInput || otherInput) {
                fetch(`/admin/monthly/${year}/${textMonth}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        water_bill: waterInput,
                        electric_bill: electricityInput,
                        other_bill: otherInput,
                        rent: rent,
                        water_income: water_in,
                        electric_income: electric_in,
                        other_income: other_in
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        Swal.fire({
                            title: "เพิ่มข้อมูลรายรับ-รายจ่าย",
                            text: "เพิ่มข้อมูลรายรับ-รายจ่ายสำเร็จแล้ว",
                            icon: "success",
                            confirmButtonText: "ตกลง"
                        }).then(()=> {
                            closePopup(monthIndex);
                            window.location.reload();
                        });
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
                } else {
                    closePopup(monthIndex);
                }
            }else{
                Swal.fire({
                    icon: 'error',
                    title: 'เกิดข้อผิดพลาด',
                    text: 'ไม่สามารถเพิ่มรายรับ-รายจ่ายมากว่าปัจจุบันได้',
                });
                closePopup(monthIndex);
            }
            
        }
    </script>
</body>

</html>