<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WishList - StayEz</title>
    <%- include('partials/default-head') %>
    <link rel="stylesheet" href="../css/wish-list.css">
</head>

<body>
    <%- include('partials/user-navbar') %>
    <div class="box">
        <p class="text">รายการโปรด</p>
    </div>
    <div class="card">
        <% if (fav.length===0) { %>
            <p class="fav">You don't have any favorite now.</p>
            <% } else { %>
                <% fav.forEach((data)=> { %>
                    <a href="/user/room-details/<%= data.room_id %>" class="card-link">
                        <p class="badge">
                            <% data.room_id %> resident
                        </p>
                        <img src="https://cdn-cms.pgimgs.com/static/2021/10/How-to-choose-luxury-condo.jpg"
                            alt="Card Image" class="card-img">
                        <p class="card-title">รีวิว 4.9</p>
                        <p class="card-title">
                            <%= data.price %> บาท/เดือน
                        </p>
                        <p class="card-title">
                            <%= data.bedroom %> ห้องนอน
                        </p>
                        <div class="service">
                            <img src="../img/dog.png" alt="" class="pic4">
                            <img src="../img/gym.png" alt="" class="pic4">
                            <img src="../img/wifi.png" alt="" class="pic4">
                        </div>
                    </a>
                    <% }) %>
                        <% } %>
    </div>
    <%- include('partials/footer') %>
</body>

</html>